<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Off-canvas menu</title>

  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/reset.css">
  <link rel="stylesheet" href="css/styles.css">
  <script src="js/prefixfree.js"></script>
</head>

<body>
  <!-- content here -->
  <div class="container">
    <div class="side-menu">
      <ul class="side-menu__list">
        <li class="side-menu__item">
          <a href="#home">Home</a>
        </li>
        <li class="side-menu__item">
          <a href="#home">Work</a>
        </li>
        <li class="side-menu__item">
          <a href="#home">About</a>
        </li>
        <li class="side-menu__item">
          <a href="#home">Contact</a>
        </li>
      </ul>
    </div> <!-- ./side-menu -->
    <div class="site-container">
      <div class="menu-icon js-toggle-menu">
        <div class="menu-icon__bar"></div>
        <div class="menu-icon__bar"></div>
        <div class="menu-icon__bar"></div>
        <div class="menu-icon__text">Menu</div>
      </div>
      <div class="site-content">
        <h1>Click on the button above to find out what lies on the left!</h1>
        <p>I promise you, you'll be in for a big surprise! <i>&#128568;</i></p>
      </div>
    </div> <!-- ./site-container -->
  </div>

  <script src="js/main.js"></script>
</body>

</html>